<div style="height: 400px;" fxLayout="row" fxLayoutAlign="center center" class="card w-100 container mt-4">
    <img [src]="images[currentIndex] ? '/images/'+ images[currentIndex].path : 'https://us.123rf.com/450wm/pavelstasevich/pavelstasevich1811/pavelstasevich181101032/112815935-stock-vector-no-image-available-icon-flat-vector-illustration.jpg?ver=6'"
        style="max-height: 100%;" class="mt-2" />
</div>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" class="pt-4 card container">
    <button mat-raised-button (click)="imageMove(true)" [disabled]="currentIndex == 0">
        < Previous</button>
            <button mat-raised-button (click)="imageMove(false)"
                [disabled]="(currentIndex == images.length-1) || !images.length">Next
                ></button>
</div>

<div class="container card pt-8 px-gutter">
    <div fxLayout="row">

        <div fxLayout="column" class="w-full px-gutter" fxLayoutAlign="start start" fxLayoutGap="20px" fxFlex="70">
            <div fxLayout="row" class="w-full" fxLayoutAlign="start start" fxLayoutGap="20px">
                <div>
                    <h2>{{postInfo.title}}</h2>
                    <p class="text-gray">{{postInfo.location}}</p>
                </div>
                <div>
                    <mat-icon [icIcon]="icFav" *ngIf="!isFav" (click)="isFav=!isFav" class="cursor-pointer"></mat-icon>
                    <mat-icon [icIcon]="icFavChecked" class="text-red cursor-pointer" *ngIf="isFav"
                        (click)="isFav=!isFav">
                    </mat-icon>
                </div>
            </div>
            <mat-divider class="my-4 w-full"></mat-divider>
            <div fxLayout="row" class="w-full" fxLayoutAlign="start center" fxLayoutGap="20px">
                <div fxLayout="row" class="w-full" fxLayoutAlign="start start" fxFlex="15"
                    class="border-r-2 border-gary p-2">
                    <span>$ </span>
                    <div>
                        <h2 class="font-semibold"> {{postInfo.rent}}</h2>
                        <span class="text-gray">Rent</span>
                    </div>
                </div>
                <div fxFlex="13" class="font-semibold md:border-r-2 border-gary p-2">
                    {{postInfo.furnishing}}
                </div>
                <div fxFlex="13" class="font-semibold md:border-r-2 border-gary p-2">
                    {{postInfo.type}}
                </div>
                <div fxFlex="13" class="font-semibold md:border-r-2 border-gary p-2">
                    {{postInfo.property_type}}
                </div>
                <div fxFlex="10">
                    <h4 class="font-semibold md:border-r-2 border-gary"> {{postInfo.floor_number}}</h4>
                    <span class="text-gray">Floor Number</span>
                </div>
                <div fxFlex="10">
                    <h4 class="font-semibold"> {{postInfo.car_parking}}</h4>
                    <span class="text-gray">Car Parking</span>
                </div>
            </div>
            <mat-divider class="my-4 w-full"></mat-divider>
            <h2>Description</h2>
            <span class="text-gray w-3/4">
                {{postInfo.description}}
            </span>
            <mat-divider class="my-4 w-full"></mat-divider>

            <h3>Landmark</h3>
            <span class="text-gray w-3/4">
                {{postInfo.landmarks}}
            </span>
            <mat-divider class="my-4 w-full"></mat-divider>

            <h3>Location</h3>
            <span class="text-gray w-3/4">
                {{postInfo.location}}
            </span>

            <!-- <button mat-raised-button class="rounded-lg" color="accent">Request For site visit</button> -->
            <!-- <mat-divider class="my-4 w-full"></mat-divider> -->
        </div>
        <ng-container *ngIf="this.postInfo.user_id != userInfo.id">
            <div fxFlex="30" class="w-full">
                <div class="w-full h-full overflow-hidden" fxLayout="column">
                    <div class="bg-app-bar p-4 border-b" fxFlex="none" fxLayout="row" fxLayoutAlign="start center"
                        fxLayoutGap="16px">
                        <!-- <button (click)="openDrawer()" class="block md:hidden" color="primary" mat-icon-button type="button">
                    <mat-icon [icIcon]="icMenu" size="24px"></mat-icon>
                  </button> -->
                        <!--               
                  <div class="relative">
                    <img [src]="chat?.imageSrc" class="avatar" fxFlex="none">
                    <ic-icon *ngIf="chat?.status === 'Online'"
                             [icon]="icCheckCircle"
                             class="bg-card absolute -bottom-1 -right-1 rounded-full text-green"></ic-icon>
                  </div> -->
                        <div class="relative">
                            <!-- <img [src]="'/images/' + postInfo?.user_id?.avatar" class="avatar" fxFlex="none" *ngIf="postInfo?.user_id?.avatar"> -->
                            <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png"
                                class="avatar" />
                            <!-- <ic-icon *ngIf="postInfo?.user_id?.status === 'online'" [icon]="icCheckCircle"
                      class="bg-card absolute -bottom-1 -right-1 rounded-full text-green"></ic-icon> -->
                        </div>
                        <div fxFlex="auto">
                            <div class="subheading-1">Post Owner</div>
                            <!-- <div [class.text-green]="chat?.status === 'Online'"
                         class="caption leading-none text-secondary">{{ chat?.status }}</div> -->
                        </div>

                        <!-- <button [matMenuTriggerFor]="chatMenu"
                          mat-icon-button
                          style="width: 38px; height: 38px; line-height: 38px;"
                          type="button">
                    <mat-icon [icIcon]="icMoreVert" class="text-secondary"></mat-icon>
                  </button> -->
                    </div>

                    <vex-scrollbar class="p-4 flex-auto bg-gray-light">
                        <ng-container *ngFor="let message of messages">
                            <ng-container *ngIf="message.from === userInfo.id">
                                <div class="max-w-3/4 me" fxLayoutAlign="end" fxLayout="row">
                                    <div class="m-1 mr-0 py-2 px-4 shadow-1 rounded-full bg-card message-bubble me">
                                        {{ message.message }}
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="message.from != userInfo.id">
                                <div class="max-w-3/4 partner" fxLayoutAlign="start" fxLayout="row">
                                    <div
                                        class="m-1 mr-0 py-2 px-4 shadow-1 rounded-full bg-primary text-primary-contrast message-bubble notme">
                                        {{ message.message }}</div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </vex-scrollbar>

                    <div class="p-4 bg-app-bar border-t">
                        <div fxLayout="row wrap" class="p-2" fxLayoutGap="10px">
                            <div class="rounded-full border border-gray-light px-2 py-1 card text-xxs hover:text-gray cursor-pointer"
                                *ngFor="let m of autoMessages" (click)="setMessage(m)">{{m.toString()}} </div>

                        </div>
                        <form (ngSubmit)="send()" [formGroup]="form">
                            <div class="border overflow-hidden bg-card ltr:pl-6 rtl:pr-6" fxFlex="auto" fxLayout="row"
                                fxLayoutAlign="start center">
                                <input class="outline-none border-0 h-12 w-240 body-1 bg-card" formControlName="message"
                                    fxFlex="auto" placeholder="Type a message..." type="text">
                                <button [class.text-primary]="form.get('message').value"
                                    [disabled]="!form.get('message').value" class="ltr:mr-4 rtl:ml-4 ltr:ml-3 rtl:mr-3"
                                    mat-icon-button type="submit">
                                    <mat-icon [icIcon]="icSend"></mat-icon>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <mat-menu #chatMenu="matMenu" xPosition="after" yPosition="below">
                    <button mat-menu-item>
                        <mat-icon [icIcon]="icAccountCircle"></mat-icon>
                        <span>Contact Info</span>
                    </button>

                    <button mat-menu-item>
                        <mat-icon [icIcon]="icVolumeMute"></mat-icon>
                        <span>Mute Chat</span>
                    </button>

                    <button mat-menu-item>
                        <mat-icon [icIcon]="icClearAll"></mat-icon>
                        <span>Clear Messages</span>
                    </button>
                </mat-menu>
            </div>
        </ng-container>
    </div>
    <mat-divider class="w-full my-2"></mat-divider>
    <div fxLayout="column" fxLayoutAlign="center start" class="mt-12 w-full">
        <h2>Related Properties</h2>
        <div fxLayout="row" fxLayoutAlign="center center" class="my-8 w-full" fxLayoutGap="20px"
            *ngIf="!isRealtedPostLoading">

            <a class="card_post card cursor-pointer" style="height: 320px;" [routerLink]="['/posts/view/'+ post._id]"
                *ngFor="let post of related_posts" fxFlex="20">
                <ng-container *ngIf="!post?.images.length">
                    <img src="https://us.123rf.com/450wm/pavelstasevich/pavelstasevich1811/pavelstasevich181101065/112815953-stock-vector-no-image-available-icon-flat-vector.jpg?ver=6"
                        alt="" class="card1__image" style="height: 185px;width:300px">
                </ng-container>
                <ng-container *ngIf="post?.images.length">
                    <img [src]="('/images/' + post.images[0].path)" alt="" class="card1__image"
                        style="height: 185px;width:300px">
                </ng-container>
                <span class="p-4" fxLayout="row">$<h3>{{post.rent}}</h3></span>
                <span class="px-2 text1 text-gray truncate">
                    <span class="px-2">{{post.type}}</span> |  <span class="px-2">{{post.property_type}}</span>
                </span>
                <span class="px-2 text1 text-gray truncate w-10/12">
                    {{post.location}}
                </span>
            </a>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="mt-16 w-full" fxLayoutGap="20px"
            *ngIf="isRealtedPostLoading">

            <div class="card_load" fxFlex="20">
                <div class="card1__image loading"></div>
                <div class="card1__title loading"></div>
                <div class="card1__description loading"></div>
            </div>
            <div class="card_load" fxFlex="20">
                <div class="card1__image loading"></div>
                <div class="card1__title loading"></div>
                <div class="card1__description loading"></div>
            </div>
            <div class="card_load" fxFlex="20">
                <div class="card1__image loading"></div>
                <div class="card1__title loading"></div>
                <div class="card1__description loading"></div>
            </div>
            <div class="card_load" fxFlex="20">
                <div class="card1__image loading"></div>
                <div class="card1__title loading"></div>
                <div class="card1__description loading"></div>
            </div>
        </div>
    </div>


</div>

<div class="lower w-full border-t border-gray-light mt-2 card">
    <div class="fullscreenWrapper mobileRightPadding p-8 text-gray container">
        <div class="copyright">© 2020 3sProperty Technologies.</div>
    </div>
</div>